body {
    background: #cacaca;
    font-family: "Gabriola", Verdana;
    font-size: 1.8em;
}


a.menu:link {
    background: #d9d9d9;
    border: .1em solid #000000;
    border-radius: .2em;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color: #000000;
    margin: 0 .1em;
    padding: .1em .2em;
    text-decoration: none;
 }

a.menu:active {
    color: #FFEA00;
}

a.menu:hover {
    background: #000000;
    color: #ffffff;
}

a.menu:visited {
    background: #ffea00;
}

/* http://www.degs.co.uk/test/css/pseudo_classes.htm# */