body {
	font-family: monospace;
	background-color: #66CCFF;
}

input {
/*	border-radius: 13em / 3em; */
}

label, select, datalist {
/*	color: red;*/
}

label, .blk {
/*	background-color: yellow;*/
	cursor: pointer;	
	text-align: left;
	display: block;
}

textarea {
	resize: none;
}

.formsec {
	margin-top: 1em;
}

#contenedor {
}

#formulario {
}

