#coches {
	border: 1pt solid #000000;
	text-align: center;	
}

/* estilos para las paginas secondarias */

.detalles {
	border: 1pt solid #000000;
	margin: 20px;
	text-align: center;		
}

.detalles_coche {
	border: 1pt solid #000000;
	display: inline-block;
/*	height: 200px;*/
	margin: 10px;
	padding: 10px;
	text-align: justify;
	vertical-align: top;
	width: 45%;	
}

.imagen_coche {
	display: block;
	margin: 0 auto;
}

/* icono de coche en la pagina principal */
.icono {
	float: left;
	margin: 10px;
}

.menu {
	text-align: center;
}

.menum {
	text-align: center;
}

.modelo {
	border: 1pt solid #000000;
	display: inline-block;
	height: 200px;
	margin: 10px;
	padding: 10px;
	text-align: justify;
	vertical-align: top;
	width: 25%;
}

a.menu:link {
    background: #d9d9d9;
    border: .1em solid #000000;
    border-radius: .2em;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color: #000000;
    margin: 0 .1em;
    padding: .1em .2em;
    text-decoration: none;
 }

a.menu:active {
    color: #FFEA00;
}

a.menu:hover {
    background: #000000;
    color: #ffffff;
}

a.menu:visited {
    background: #ffea00;
}